body {
  background: url(../img/dotnoise.png) !important;
  text-align: left;
}

article.deck-container {
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;

  width: 82%;

  background-size: 20%;
}

article.deck-container section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;

  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-box-align: center;
       -o-box-align: center;
          box-align: center;
}

section > div {
  width: 100%;
}

.center {
  text-align: center;
}

article.deck-container#intro {
  background: url(../img/bob-600-full.png) no-repeat bottom right;

  -webkit-transition-property: background;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: ease-in;
}

article.deck-container#about {
  background: url(../img/bob-600.png) no-repeat bottom right;

  -webkit-transition-property: background;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: ease-in;
}

article.deck-container#codestyle {
  background: url(../img/bob-600-gone.png) no-repeat bottom right;
}

article.deck-container h1 {
  color: #444;
  text-align: left;
  display: block;
  padding: 25px !important;
}

article.deck-container h2 {
  border: 0 !important;
  padding: 25px !important;
}

article.deck-container h2.dim {
  color: #CCC;
}

article.deck-container h3 {
  font-size: 32px !important;
  border: 0 !important;
}

strong.weak.name {
  color: #555;
  padding-left: 25px;
  font-size: 20px;
}

strong.weak {
  color: #999;
}

h1, h2, h3, ul, span, strong {
  padding-left: 25px !important;
}

article.deck-container section ul li {
  font-size: 20px !important;
}

h3 {
  font-size: 3.4375em !important;
}

hr {
  opacity: .5;
}

section.slide.left {
  height: 0;
}

section.slide.left.deck-current, section.slide.left.deck-previous {
  width: 50%;
  float: left;
  height: inherit !important;
}

section.slide.right.deck-current {
  width: 50%;
  float:left;
}

pre {
  box-shadow: 10px 10px 0px #DDD;
}

code, pre {
  border: none !important;
  padding: 30px !important;
  border-radius: 15px;
}

pre code {
  font-size: 20px !important;
  font-family: "DejaVu Sans Mono" !important;
}

pre code span {
  padding-left: 0px !important;
}
