<header class="secondary">
  <h1>OCRegister Local</h1>
  <img src="{{weather_icon}}">
  <span class="temp">{{temp}}</span>
</header>

<aside class="community-edition"><h1>{{edition}}</h1></aside>

<button class="back">Back</button>

<div class="video">
  <object id="myExperience" class="BrightcoveExperience">
    <param name="bgcolor" value="#FFFFFF" />
    <param name="width" value="320" />
    <param name="height" value="180" />
    <param name="playerID" value="1033377183001" />
    <param name="playerKey" value="AQ~~,AAAAADrXnTk~,prBKvYCdnSjN_lwFdDWzB4FuXBeKkIC-" />
    <param name="isVid" value="true" />
    <param name="isUI" value="true" />
    <param name="dynamicStreaming" value="true" />
    <param name="@videoPlayer" value="{{{id}}}" />
  </object>
</div>
