<div class="scroller">
  <div class="scroller-content">
    <ul class="menu">
      <li class="photos-menu">
        <div class="content">
          <p class="title">Photos</p>
        </div>
      </li>
      <li class="video-menu">
        <div class="content">
          <p class="title">Videos</p>
        </div>
      </li>
      <li>
        <div class="content">
          <p class="title">Real Estate</p>
        </div>
      </li>
      <li>
        <div class="content">
          <p class="title">More Apps</p>
        </div>
      </li>
      <li class="send-feedback">
        <div class="content">
          <p class="title">Send Feedback</p>
        </div>
      </li>
    </ul>
  </div>
</div>
