// Various colors

// Demo colors
$white: #FFFFFF;
$dark-gray: #3E3E3F;
$gray: #57585A;
$gray-2: #686566;
$gray-3: #787878;
$medium-gray: #808286;
$light-gray: #D1D2D4;

// Potential colors
$yellow: #DAD8BD;
