ul.menu {
  list-style: none;
  margin: 0;
  background-color: $white;

  li {
    height: 60px;
    border-bottom: 2px solid $light-gray;
    position: relative;
    padding-left: 10px;

    span.thumbnail {
      width: 50px;
      height: 35px;
      overflow: hidden;
      float: left;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 12px;

      .default-thumbnail {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $gray;
      }

      img {
        width: 50px;
      }
    }

    div.content {
      width: 100%;
      height: 60px;

      .title {
        font-size: 21px;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 15px;

        text-overflow: clip;
        text-overflow: ellipsis;
        text-overflow: ellipsis-word;
      }

      .subtitle {
        text-align: left;
        font-size: 14px;
      }
    }
  }
}
